<div class="container">
  <%= link_to "Back to Homepage", root_path, class: "btn btn-info" %>
  <br>
  <h1>Available Workation Listings</h1>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <br>

  <%# Search Form %>
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: listings_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>


<div class="container-card">
  <% @listings.each do |listing| %>
      <div class="card-trip">
        <% if listing.photo.attached? %>
          <%= cl_image_tag listing.photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= listing.name %></h2>
            <p><%= listing.location %></p>
            <%= link_to "Learn More", listing_path(listing), class: "btn btn-primary" %>
          </div>
          <h2 class="card-trip-pricing"><%= listing.price %></h2>
        </div>
      </div>
    <br>
  <% end %>
</div>
