<div class="container">
  <h1>Listings</h1>
  <br>
    <% @listings.each do |listing| %>
      <strong><%= listing.name %></strong>
        <ul>
          <li><%= "Location: #{listing.location}" %></li>
          <li><%= "Wifi: #{listing.wifi}" %></li>
          <li><%= "Workspace: #{listing.workspace}" %></li>
          <li><%= "Price: #{listing.price}" %></li>
          <li><%= "Host: #{listing.user.first_name} #{listing.user.last_name}" %></li>
          <%= link_to "Book Now", new_booking_path(listing_id: listing.id), class: "book-button" %>
        </ul>
      <br>
    <% end %>
  <%= link_to "Back to Homepage", root_path %>
</div>
