<div class="container">
  <%= link_to "Back to Homepage", root_path, class: "btn btn-info" %>
  <br>
  <h1>Available Workation Listings</h1>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <br>

    <% @listings.each do |listing| %>
      <strong><%= listing.name %></strong>
        <div class="container">
        <% if listing.photo.attached? %>
          <%= cl_image_tag listing.photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
        </div>
        <ul>
          <li><%= "Location: #{listing.location}" %></li>
          <li><%= "Price: #{listing.price}" %></li>
          <%= link_to "Learn More", listing_path(listing), class: "btn btn-primary" %>
        </ul>
      <br>
    <% end %>
</div>
