<div class="container">
  <h3><%= "Welcome #{current_user.first_name} #{current_user.last_name}," %></h3>
  <h3>Your Listings:</h3>
  <div class="container mb-5">
    <%= link_to "Create New", new_listing_path, class: "btn btn-success"%>
  </div>


  <div class="container-cards">
      <% @listings.each do |listing| %>
      <div class="card-trip">
        <% if listing.photo.attached? %>
          <%= cl_image_tag listing.photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
        <h2><%= listing.name %></h2>
          <ul>
            <p><%= "Location: #{listing.location}" %></p>
            <p><%= "Wifi: #{listing.wifi}" %></p>
            <p><%= "Workspace: #{listing.workspace}" %></p>
            <p><%= "Price: #{listing.price}" %></p>
            <p><%= "Host: #{listing.user.first_name} #{listing.user.last_name}" %></p>
            <h2><%= link_to "Remove", delete_listing_path(listing), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class: "btn btn-danger"%></h2>
          </ul>
      </div>
      <% end %>
  </div>
</div>
