<div class="container">
  <%= link_to "Back to Homepage", root_path %>
  <h1>Manage My Listings</h1>
  <br>
  <%= link_to "Add New Listing", new_listing_path %>
  <br>
    <% @listings.each do |listing| %>
      <strong><%= listing.name %></strong>
        <ul>
          <li><%= "Location: #{listing.location}" %></li>
          <li><%= "Wifi: #{listing.wifi}" %></li>
          <li><%= "Workspace: #{listing.workspace}" %></li>
          <li><%= "Price: #{listing.price}" %></li>
          <li><%= "Host: #{listing.user.first_name} #{listing.user.last_name}" %></li>
          <li><%= link_to "Delete Listing", delete_listing_path(listing), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
        </ul>
      <br>
    <% end %>

</div>
