<div class="container mt-5">
  <h1>Add a New Listing</h1>
  <%= simple_form_for(@listing) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :wifi %>
    <%= f.input :workspace %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
