<div class="container mt-5">
  <h2><%= @listing.name %></h2>
  <div class="container-card mt-5">


  <div class="card-show">
  <% if  @listing.photo.attached? %>
        <%= cl_image_tag @listing.photo.key, height: 400, width: 700, crop: :fill %>
  <% end %>
  <div class="container-infos">
    <div class="card-show-infos">
      <ul>
          <li><%= "Average Rating: #{@listing.average_rating}" %></li>
          <li><%= "Location: #{@listing.location}" %></li>
          <li><%= "Wifi: #{@listing.wifi.to_s}" %></li>
          <li><%= "Workspace: #{@listing.workspace.to_s}" %></li>
          <li><%= "Host: #{@listing.user.first_name} #{@listing.user.last_name}" %></li>
        </ul>
    </div>
    <div class="button-container-show">
      <%= link_to "Book Now", new_booking_path(@listing), class: "btn btn-primary" %>
      <h2 class="card-trip-pricing"><%= @listing.price %></h2>
    </div>
  </div>

</div>

  </div>

  <%# Reviews Section %>
  <div class="reviews mt-5">
    <h3>Reviews</h3>
    <% if @listing.reviews.any? %>
      <% @listing.reviews.each do |review| %>
        <div>
          <strong>Rating:</strong> <%= review.rating %><br>
          <strong>Comment:</strong> <%= review.comment %>
        </div>
      <br>
      <% end %>
    <% else %>
      <p>No reviews yet</p>
    <% end %>
  </div>
  <div style="width: 100%; height: 300px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
