<div class="container mt-5">
  <%= link_to "Back to Listings", listings_path(@listings), class: "btn btn-info" %>
  <h2><%= @listing.name %></h2>
  <div class="container mt-5">
    <div style="width: 400px; height: 300px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <% if  @listing.photo.attached? %>
      <%= cl_image_tag @listing.photo.key, height: 200, width: 300, crop: :fill %>
    <% end %>
    <ul>
      <li><%= "Average Rating: #{@listing.average_rating}" %></li>
      <li><%= "Location: #{@listing.location}" %></li>
      <li><%= "Wifi: #{@listing.wifi.to_s}" %></li>
      <li><%= "Workspace: #{@listing.workspace.to_s}" %></li>
      <li><%= "Price: #{@listing.price}" %></li>
      <li><%= "Host: #{@listing.user.first_name} #{@listing.user.last_name}" %></li>
      <%= link_to "Book Now", new_booking_path(@listing.id), class: "btn btn-primary" %>
    </ul>
  </div>
  <%# Reviews Section %>
  <div class="reviews mt-5">
    <h3>Reviews</h3>
    <% if @listing.reviews.any? %>
      <% @listing.reviews.each do |review| %>
        <div>
          <strong>Rating:</strong> <%= review.rating %><br>
          <strong>Comment:</strong> <%= review.comment %>
        </div>
      <br>
      <% end %>
    <% else %>
      <p>No reviews yet</p>
    <% end %>
  </div>
</div>
