<div class="container">
  <%= link_to "Back to Homepage", root_path, class: "btn btn-info" %>
  <h3><%= "Welcome #{current_user.first_name} #{current_user.last_name}," %></h3>
  <h3>Manage Your Bookings</h3>
  <br>
  <div class="container-card">
    <% current_user.bookings.each do |booking| %>
    <div class="card-trip">

        <strong><%= booking.listing.name %></strong>
        <div class="card-trip-infos">
          <ul>
            <li><%= "Start Date: #{booking.start_date}" %></li>
            <li><%= "End Date: #{booking.end_date}" %></li>
            <li><%= "Host: #{booking.listing.user.first_name} #{booking.listing.user.last_name} " %></li>
            <li><%= link_to "Delete Booking", delete_booking_path(booking), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %></li>
            <li><%= link_to "Create Review", new_review_path(booking.listing), class: "btn btn-info" %></li>
          </ul>
        </div>

    </div>
    <% end %>
  </div>
</div>
