<div class="container mt-5">
  <h1>Enter Booking Details</h1>
  <%= simple_form_for([@listing, @booking]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit class: "btn btn-secondary" %>
  <% end %>
</div>


<%# <div class="container">
  <h1>Booking Details</h1>

  <p><strong>Booking ID:</strong> <%= @booking.id %></p>
  <%# <p><strong>Start Date:</strong> <%= @booking.start_date %></p> %>
  <%# <p><strong>End Date:</strong> <%= @booking.end_date %></p> %>
  <%# <%= link_to "Confirm booking", root_path %> %>
<%# </div> %>
