<h1>Booking Details</h1>

<p><strong>Booking ID:</strong> <%= @booking.id %></p>
<p><strong>User:</strong> <%= @booking.user.name %></p>
<%# name need edit %>
<p><strong>Number of Guests:</strong> <%= @booking.number_of_guests %></p>
<p><strong>Booking Date:</strong> <%= @booking.booking_date %></p>

<%= link_to 'Back', path %> <!-- Or any other path you wish to link back to -->
