<div class="container mt-5">
  <div class="hero d-flex justify-content-center align-items-center text-center" id="background-image-home">
    <div>
      <h1 class="my-4 py-4 text-white"><strong>NomadNest</strong></h1>
      <h3 class="my-4 text-white">Join our global community and find your next workation destination</h3>
      <%# <div class="d-flex justify-content-center mt-4"> %>
        <%= link_to "Explore Destinations", listings_path, class: "btn btn-info me-2" %>
      <%# </div> %>
    </div>
  </div>
  <br>
  <div class="locations">
    <h2 class="text-left mb-4">Explore Our Locations</h2>
    <p>NomadNest curates exceptional workation spots around the globe, tailored for digital nomads seeking the perfect blend of productivity and relaxation. Dive into our handpicked locations, where every detail is crafted to inspire your work and enrich your travels. Explore, connect, and thrive in our vibrant communities, designed to fuel creativity and foster connections.</p>
  </div>
  <div class="container-card">
  <% @listings.each do |listing| %>
      <div class="card-trip">
        <% if listing.photo.attached? %>
          <%= cl_image_tag listing.photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= listing.name %></h2>
            <p><%= listing.location %></p>
            <%= link_to "Learn More", listing_path(listing), class: "btn btn-primary" %>
          </div>
          <h2 class="card-trip-pricing"><%= listing.price %></h2>
        </div>
      </div>
    <br>
  <% end %>
</div>

<br>
<div class="listing-property">
    <h2 class="my-4">List Your Property</h2>
    <p>List your property with NomadNest and join our exclusive curation of premium workation destinations. We're seeking unique spaces that inspire productivity and creativity, nestled in the heart of nature or the buzz of the city. Become a part of a community that values exceptional experiences and connects the world's digital nomads.</p>
</div>

<div div id="background-image-list">
</div>
<br>
</div>
